// compress: false, javascriptEnabled: true
/* --------------------------------------------------------------
/* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
-------------------------------------------------------------- */
@import 'less/_lesshat.less';
/* --------------------------------------------------------------
VARIABLES
-------------------------------------------------------------- */

@mainfont: 'Poppins', sans-serif;
@secondfont: 'Caveat', cursive;
@black: #000000;
@white: #ffffff;
@gray: #BDBDBD;
@lgray: #f6f6f6;
@blue: #001732;
@dblue: #073164;
@lblue: #1977f3;

/* --------------------------------------------------------------
BODY DEFAULTS
-------------------------------------------------------------- */
html,
body {
    height: 100%;
    scroll-behavior: smooth;
}


@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

body {
    font-family: @mainfont;
    font-weight: 400;
}

a {
    .transition(all .2s ease-in-out);

    &:hover {
        text-decoration: none;
    }
}

.page-container {
    min-height: 75vh;
}

/* LOADER */
.loader {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.loader:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid @black;
    border-color: @black transparent @black transparent;
    animation: loader-spin 1.2s linear infinite;
}

@keyframes loader-spin {
    0% {
        .transform(rotate(0deg));
    }

    100% {
        .transform(rotate(360deg));
    }
}


/* --------------------------------------------------------------
1.- HEADER
-------------------------------------------------------------- */
.the-header {
    padding: 1rem 0;

    & .navbar-brand {
        & img {
            .transition(all .3s ease-in-out);

            &:hover {
                opacity: .9;
            }
        }
    }

    & .navbar-toggler {
        color: @black;
        border-color: transparent;
        padding-right: 0;

        &:focus {
            box-shadow: none;
        }
    }

    & .navbar-nav {
        & .nav-item {
            & .nav-link {
                font-size: 1rem;
                text-transform: uppercase;
                color: @gray;
                padding: 1rem 0 1rem 0;
                margin-left: 5rem;

                &:hover {
                    color: @black;
                }
            }

            &:first-child {
                & .nav-link {
                    margin-left: 0;
                }
            }
        }
    }
}

/* --------------------------------------------------------------
2.- FOOTER
-------------------------------------------------------------- */
.the-footer,
.footer-copy {
    background-color: @blue;
    color: @white;
    text-align: center;
    padding: 1rem;
    font-size: .9rem;
    line-height: .9rem;
    font-weight: 200;

    & a {
        color: @white;
        text-decoration: none;
    }

    & h5 {
        font-weight: 200;
        font-size: .9rem;
        margin-bottom: 1.8rem;

        & a {
            color: @white;
            text-decoration: underline;
        }
    }


}

/* --------------------------------------------------------------
3.- HOME
-------------------------------------------------------------- */
.main-banner-content {
    padding: 3rem 4rem;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    margin-bottom: 3rem;

    & .main-banner-text {
        color: @dblue;
        font-size: 1.2rem;
        font-weight: 300;

        & h1 {
            font-weight: 700;
            margin-bottom: 1rem;
        }
    }

    & .main-banner-img {
        text-align: right;
    }
}


.main-equip-container {
    background: url(../images/bg-lines.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    & .main-equip-item {
        padding: 3rem 4rem;

        & .intro {
            color: @dblue;
            font-size: 1.2rem;

            & h2 {
                font-size: 2.5rem;
                line-height: 3.3rem;
                font-weight: 700;
                margin-bottom: 1rem;
            }
        }

        & .main-equip-item-wrapper {
            background-color: @white;
            border-radius: 20px;
            overflow: hidden;
            box-shadow: 1px 1px 6px #d7d7d7;

            & .picture {
                display: flex;
                align-items: center;
                justify-content: center;
                min-height: 230px;
                text-align: center;
                color: white;
                background-size: cover !important;
                background-position: center !important;
                background-repeat: no-repeat !important;
                margin-bottom: 1rem;
                border-radius: 20px;

                & h2 {
                    margin: 0;
                    font-size: 1.4rem;
                    text-transform: uppercase;
                    font-weight: 600;
                }
            }

            & .actions {
                padding: 1rem;
                text-align: center;

                & a {
                    display: inline-block;
                    background-color: @lblue;
                    padding: 12px;
                    margin: 0 5px;
                    border-radius: 100%;
                }
            }

            & .desc {
                padding: 1.5rem 1.2rem;
                text-align: center;
                font-size: 1.1rem;
            }

            & .subtitle {
                color: @dblue;
                text-align: center;

                & h3 {
                    font-size: 1.3rem;
                    font-weight: 700;
                }
            }

            & .footer {
                color: @dblue;
                text-align: center;
                font-size: .9rem;
            }
        }
    }
}

.main-brands-container {
    padding: 3rem 1rem;
    text-align: center;

    & .main-brands-title {
        margin-bottom: 2.5rem;

        & h2 {
            color: @dblue;
            font-size: 2.2rem;
            font-weight: 700;
        }
    }

    & .swiper-brands {
        & .swiper-slide {
            min-height: 150px;
            .display(flex);
            .align-items(center);
            .justify-content(center);
            padding: 0 1rem;
        }
    }
}

.main-about-container {
    padding: 3rem 1rem;
    background: url(../images/bg-lines.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    & .main-about-text {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.8rem;

        & h2 {
            color: @dblue;
            font-size: 1.5rem;
            font-weight: 700;
        }

        & h4 {
            color: @dblue;
            margin: 1rem 0;
            font-size: 1.2rem;
            line-height: 1.6rem;
        }

        & h5 {
            color: @lblue;
            font-family: @secondfont;
            font-size: 2rem;
        }
    }
}

.main-benefits-container {
    padding: 3rem 1rem;

    & .main-benefits-item {
        text-align: center;
        padding: 2rem 1rem;

        & h3 {
            color: @dblue;
            font-weight: 700;
            font-size: 1.2rem;
            padding: 1rem 0;
        }
    }
}

.main-contact-container {
    background-color: @lgray;

    & .main-content-text {
        padding: 1rem 8vw;

        & h2 {
            font-weight: 700;
            font-size: 2rem;
            color: @dblue;
            margin-bottom: 2.5rem;
        }

        & .contact-item {
            margin-bottom: 1.5rem;

            & a {
                font-weight: 600;
                text-decoration: none;
            }

            & img {
                margin-right: 2rem;
            }
        }
    }
}

.custom-modal {

    & .modal-lg,
    .modal-xl {
        max-width: 600px;
    }

    & .custom-modal-header {
        text-align: center;
        position: relative;
        padding: 1rem 0;

        & button.btn-close {
            position: absolute;
            top: 0;
            right: 0;
            height: 6px;
            width: 6px;
        }

        & .modal-title {
            color: @dblue;
            margin-bottom: 1rem;
            line-height: 1.5;
            font-size: 2.3rem;
            font-weight: 700;
        }
    }

    & .main-form-item {
        margin-bottom: 10px;

        & .custom-form-control {
            height: auto;
            padding: 15px 20px;
        }

        & .btn-submit {
            background: @lblue;
            padding: 0.8rem 4.4rem;
            border-radius: 50px;
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 300;
            color: white;
        }
    }
}