// compress: false, javascriptEnabled: true
/* --------------------------------------------------------------
MEDIAQUERIES LG/MD - LAYOUTS BIGGER THAN 992px
-------------------------------------------------------------- */
@media (max-width: 1920px) {}

@media (max-width: 1680px) {}

@media (max-width: 1600px) {}

@media (max-width: 1440px) {}

@media (max-width: 1366px) {
    .main-equip-container .main-equip-item {
        padding: 3rem 2rem;
    }

    .main-contact-container .main-content-text {
        padding: 1rem 5vw;
    }
}

@media (max-width: 1280px) {}

@media (max-width: 1170px) {
    .main-banner-content {
        padding: 1rem 2rem;
        margin-bottom: 2rem;
    }

    .main-equip-container .main-equip-item {
        padding: 2rem 1rem;
    }

    .main-equip-container .main-equip-item .main-equip-item-wrapper .desc {
        padding: 1rem 1rem;
        font-size: 1rem;
    }

    .main-benefits-container .main-benefits-item h3 {
        font-size: 1.1rem;
    }

    .main-about-container .main-about-text h4 {
        font-size: 1.1rem;
        line-height: 1.6rem;
    }

    .main-contact-container .main-content-text h2 {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    .main-contact-container .main-content-text {
        padding: 1rem 2vw;
    }

    .main-contact-container .main-content-text .contact-item img {
        margin-right: 1rem;
    }
}

@media (max-width: 1024px) {}

@media (max-width: 992px) {}

/* --------------------------------------------------------------
MEDIAQUERIES SM - LAYOUTS BIGGER THAN 768px
-------------------------------------------------------------- */
@media (max-width: 991px) {
    .the-header .navbar-nav .nav-item .nav-link {
        margin-left: 2rem;
    }

    .img-logo {
        max-width: 180px;
    }

    .main-banner-content .main-banner-text h1 {
        font-weight: 700;
        margin-bottom: 1rem;
        font-size: 1.8rem;
    }

    .main-banner-content .main-banner-text {
        font-size: 1rem;
    }

    .main-equip-container .main-equip-item .intro h2 {
        font-size: 1.5rem;
        line-height: 2.4rem;
    }

    .main-about-img {
        text-align: center;
    }

    .main-contact-container .main-content-text {
        padding: 3rem 1rem;
        text-align: center;
    }

    .main-contact-container .main-content-text h2 {
        margin-bottom: 2rem;
    }
}

@media (max-width: 800px) {}

@media (max-width: 768px) {}

/* --------------------------------------------------------------
MEDIAQUERIES XS - LAYOUTS LESS THAN 600px
-------------------------------------------------------------- */
@media (max-width: 767px) {
    .the-header .navbar-nav .nav-item .nav-link {
        margin-left: 0;
        padding: 1rem;
    }

    .navbar-nav {
        padding: 1rem 0;
    }

    .the-footer,
    .footer-copy {
        font-size: 0.8rem;
        line-height: 0.8rem;
    }

    .the-footer h5,
    .footer-copy h5 {
        font-size: 0.8rem;
    }

    .main-banner-content .main-banner-text {
        font-size: 1.2rem;
        text-align: center;
        padding: 3rem 1rem 0 1rem;
    }

    .main-equip-container .main-equip-item .intro {
        text-align: center;
    }

    .main-brands-container .main-brands-title h2 {
        font-size: 1.5rem;
    }

}

@media (max-width: 600px) {}

@media (max-width: 533px) {
    section.main-banner-container {
        max-width: 97%;
    }
    section.main-equip-container {
        max-width: 97%;
    }

    .main-equip-container .main-equip-item {
        padding: 2rem 1rem;
        padding-left: 2rem;
    }
}

@media (max-width: 424px) {}

@media (max-width: 414px) {
    section.main-banner-container {
        max-width: 96%;
    }
    section.main-equip-container {
        max-width: 96%;
    }
    .main-banner-content {
        padding: 2rem 1rem;
        margin-bottom: 2rem;
    }
}

@media (max-width: 375px) {}

@media (max-width: 360px) {}

@media (max-width: 320px) {}

@media (max-width: 240px) {}