/* --------------------------------------------------------------
/* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
-------------------------------------------------------------- */
/* --------------------------------------------------------------
VARIABLES
-------------------------------------------------------------- */
/* --------------------------------------------------------------
BODY DEFAULTS
-------------------------------------------------------------- */
html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover {
  text-decoration: none;
}
.page-container {
  min-height: 75vh;
}
/* LOADER */
.loader {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #000000;
  border-color: #000000 transparent #000000 transparent;
  animation: loader-spin 1.2s linear infinite;
}
@keyframes loader-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* --------------------------------------------------------------
1.- HEADER
-------------------------------------------------------------- */
.the-header {
  padding: 1rem 0;
}
.the-header .navbar-brand img {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.the-header .navbar-brand img:hover {
  opacity: 0.9;
}
.the-header .navbar-toggler {
  color: #000000;
  border-color: transparent;
  padding-right: 0;
}
.the-header .navbar-toggler:focus {
  box-shadow: none;
}
.the-header .navbar-nav .nav-item .nav-link {
  font-size: 1rem;
  text-transform: uppercase;
  color: #BDBDBD;
  padding: 1rem 0 1rem 0;
  margin-left: 5rem;
}
.the-header .navbar-nav .nav-item .nav-link:hover {
  color: #000000;
}
.the-header .navbar-nav .nav-item:first-child .nav-link {
  margin-left: 0;
}
/* --------------------------------------------------------------
2.- FOOTER
-------------------------------------------------------------- */
.the-footer,
.footer-copy {
  background-color: #001732;
  color: #ffffff;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  line-height: 0.9rem;
  font-weight: 200;
}
.the-footer a,
.footer-copy a {
  color: #ffffff;
  text-decoration: none;
}
.the-footer h5,
.footer-copy h5 {
  font-weight: 200;
  font-size: 0.9rem;
  margin-bottom: 1.8rem;
}
.the-footer h5 a,
.footer-copy h5 a {
  color: #ffffff;
  text-decoration: underline;
}
/* --------------------------------------------------------------
3.- HOME
-------------------------------------------------------------- */
.main-banner-content {
  padding: 3rem 4rem;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  margin-bottom: 3rem;
}
.main-banner-content .main-banner-text {
  color: #073164;
  font-size: 1.2rem;
  font-weight: 300;
}
.main-banner-content .main-banner-text h1 {
  font-weight: 700;
  margin-bottom: 1rem;
}
.main-banner-content .main-banner-img {
  text-align: right;
}
.main-equip-container {
  background: url(../images/bg-lines.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.main-equip-container .main-equip-item {
  padding: 3rem 4rem;
}
.main-equip-container .main-equip-item .intro {
  color: #073164;
  font-size: 1.2rem;
}
.main-equip-container .main-equip-item .intro h2 {
  font-size: 2.5rem;
  line-height: 3.3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.main-equip-container .main-equip-item .main-equip-item-wrapper {
  background-color: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 1px 1px 6px #d7d7d7;
}
.main-equip-container .main-equip-item .main-equip-item-wrapper .picture {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 230px;
  text-align: center;
  color: white;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  margin-bottom: 1rem;
  border-radius: 20px;
}
.main-equip-container .main-equip-item .main-equip-item-wrapper .picture h2 {
  margin: 0;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
}
.main-equip-container .main-equip-item .main-equip-item-wrapper .actions {
  padding: 1rem;
  text-align: center;
}
.main-equip-container .main-equip-item .main-equip-item-wrapper .actions a {
  display: inline-block;
  background-color: #1977f3;
  padding: 12px;
  margin: 0 5px;
  border-radius: 100%;
}
.main-equip-container .main-equip-item .main-equip-item-wrapper .desc {
  padding: 1.5rem 1.2rem;
  text-align: center;
  font-size: 1.1rem;
}
.main-equip-container .main-equip-item .main-equip-item-wrapper .subtitle {
  color: #073164;
  text-align: center;
}
.main-equip-container .main-equip-item .main-equip-item-wrapper .subtitle h3 {
  font-size: 1.3rem;
  font-weight: 700;
}
.main-equip-container .main-equip-item .main-equip-item-wrapper .footer {
  color: #073164;
  text-align: center;
  font-size: 0.9rem;
}
.main-brands-container {
  padding: 3rem 1rem;
  text-align: center;
}
.main-brands-container .main-brands-title {
  margin-bottom: 2.5rem;
}
.main-brands-container .main-brands-title h2 {
  color: #073164;
  font-size: 2.2rem;
  font-weight: 700;
}
.main-brands-container .swiper-brands .swiper-slide {
  min-height: 150px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 0 1rem;
}
.main-about-container {
  padding: 3rem 1rem;
  background: url(../images/bg-lines.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.main-about-container .main-about-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8rem;
}
.main-about-container .main-about-text h2 {
  color: #073164;
  font-size: 1.5rem;
  font-weight: 700;
}
.main-about-container .main-about-text h4 {
  color: #073164;
  margin: 1rem 0;
  font-size: 1.2rem;
  line-height: 1.6rem;
}
.main-about-container .main-about-text h5 {
  color: #1977f3;
  font-family: 'Caveat', cursive;
  font-size: 2rem;
}
.main-benefits-container {
  padding: 3rem 1rem;
}
.main-benefits-container .main-benefits-item {
  text-align: center;
  padding: 2rem 1rem;
}
.main-benefits-container .main-benefits-item h3 {
  color: #073164;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 1rem 0;
}
.main-contact-container {
  background-color: #f6f6f6;
}
.main-contact-container .main-content-text {
  padding: 1rem 8vw;
}
.main-contact-container .main-content-text h2 {
  font-weight: 700;
  font-size: 2rem;
  color: #073164;
  margin-bottom: 2.5rem;
}
.main-contact-container .main-content-text .contact-item {
  margin-bottom: 1.5rem;
}
.main-contact-container .main-content-text .contact-item a {
  font-weight: 600;
  text-decoration: none;
}
.main-contact-container .main-content-text .contact-item img {
  margin-right: 2rem;
}
.custom-modal .modal-lg,
.custom-modal .modal-xl {
  max-width: 600px;
}
.custom-modal .custom-modal-header {
  text-align: center;
  position: relative;
  padding: 1rem 0;
}
.custom-modal .custom-modal-header button.btn-close {
  position: absolute;
  top: 0;
  right: 0;
  height: 6px;
  width: 6px;
}
.custom-modal .custom-modal-header .modal-title {
  color: #073164;
  margin-bottom: 1rem;
  line-height: 1.5;
  font-size: 2.3rem;
  font-weight: 700;
}
.custom-modal .main-form-item {
  margin-bottom: 10px;
}
.custom-modal .main-form-item .custom-form-control {
  height: auto;
  padding: 15px 20px;
}
.custom-modal .main-form-item .btn-submit {
  background: #1977f3;
  padding: 0.8rem 4.4rem;
  border-radius: 50px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 300;
  color: white;
}
